<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'/>
</head>
<body>
<div class="nav-wrapper">
<nav id="menu" class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" id="brand" href="#top"><i class="fa fa-play fa-rotate-270"></i> MIT</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
                </li>
                <li th:if="${isUserAuthenticated}" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" th:text="${email}"> <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/settings"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
                    </ul>
                </li>

                <li th:if="${!isUserAuthenticated}"><a href="/login"><span
                        class="glyphicon glyphicon-log-in"></span> Log in</a></li>
                <li th:if="${!isUserAuthenticated}"><a href="/register"><span
                        class="glyphicon glyphicon-user"></span> Sing up</a></li>


            </ul>
        </div>
    </div>
</nav>
</div>


<!-- Including jquery and twitter bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:src="@{js/nav-dropdown-animation.js}"></script>
</body>
</html>